<div class="side-decoration" style="background: no-repeat url('../../../../assets/side-dec-background.png')">

  <div class="side-decoration__top-padding"></div>

  <div class="side-decoration__content" *ngIf="withText">
    <h1 class="side-decoration__content-title">
      Кардио Контроль
    </h1>
    <div class="side-decoration__content-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Nemo porro quasi quo quos, recusandae rem reprehenderit sapiente tenetur veniam vitae.
    </div>
    <div class="side-decoration__content-footer">
      LOREM IPSUM
    </div>
  </div>

  <div class="side-decoration__bottom-padding"></div>

</div>
