@import "src/styles";

.chart {
  width: 580px;
  height: 280px;
  overflow: hidden;
  &-info {
    height: 80px;
    padding-left: 45px;
    padding-top: 45px;
    &-title {
      @include headline_4($on-light-surface)
    }
    &-description {
      margin-top: 8px;
      @include body_2($on-light-surface-medium)
    }
  }
}

.canvas {
  padding-top: 30px;
  margin-left: -30px;
  width: 100%;
  height: 100%;
}
