@import "src/styles";

.chart {
  position: relative;
  width: 580px;
  height: 280px;
  overflow: hidden;
  .tag {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: max-content;
    border-radius: 10px;
    padding: 0 10px;
    top: 10px;
    left: 10px;
    color: rgba(0,0,0,.8);
    background: rgba(31, 147, 122, 0.4);
    cursor: pointer;
    z-index: 11;
    &:hover {
      background: rgba(31, 147, 122, 0.6);
    }
  }
  &-info {
    position: relative;
    height: 80px;
    padding-left: 45px;
    padding-top: 45px;
    z-index: 10;
    &-title {
      @include headline_4($on-light-surface)
    }
    &-description {
      margin-top: 8px;
      @include body_2($on-light-surface-medium)
    }
  }
}

.canvas {
  z-index: 3;
  position: absolute;
  top: 60px;
  left: -55px;
}
