<div class="navigation">
  <button mat-icon-button class="navigation__link" routerLinkActive="active" routerLink="chat">
    <mat-icon class="example-tab-icon">question_answer</mat-icon>
  </button>
  <button mat-icon-button class="navigation__link" routerLinkActive="active" routerLink="calendar">
    <mat-icon class="example-tab-icon">calendar_today</mat-icon>
  </button>
  <a mat-icon-button class="navigation__link" routerLinkActive="active" routerLink="pressure" >
    <mat-icon class="example-tab-icon">loupe</mat-icon>
  </a>
  <a mat-icon-button class="navigation__link" routerLinkActive="active" routerLink="treatment">
    <mat-icon class="example-tab-icon">inventory_2</mat-icon>
  </a>
</div>



