.container {
  height: 100%;
  width: 100%;
}

.header {
  height: 56px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
}

.content {
  width: 100%;
  overflow: auto;
  height: calc(100% - 56px - 56px);
}
