.container {
  height: 100%;
  width: 100%;
}

.header {
  height: 56px;
  width: 100%;
  background: #ffffff;
  margin-bottom: 2px;
  box-shadow: 2px 1px 5px 1px rgb(0 0 0 / 10%);
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.content {
  width: 100%;
  overflow: auto;
  height: calc(100% - 56px - 56px);
}

.header__link {
  display: flex;
  width: max-content;
  height: 100%;
  color: inherit;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.header__title {
  margin-left: 20px;
}
