<div class="patient-list-layout">

  <app-applicant-list-search (search)="handleSearch($event)" class="search"></app-applicant-list-search>

  <div class="patient-list-layout__table">
    <app-patients-table [searchContext$]="searchContext$"></app-patients-table>
  </div>
<!--  <div class="patient-list-layout__controls">-->
<!--    <div class="patient-list-layout__paginator">-->
<!--      <app-patients-list-paginator></app-patients-list-paginator>-->
<!--    </div>-->
<!--    <button mat-raised-button class="patient-list-layout__button">-->
<!--      Добавить-->
<!--    </button>-->
<!--  </div>-->
</div>
