.patient-list-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__table {
    width: 90%;
    height: 50%;
    margin-bottom: 15px;
  }

  &__controls {
    width: 90%;
    display: flex;
    justify-content: flex-end;
  }
}
