<div class="login-form">
  <h3 class="login-form__title">
    Вход
  </h3>
  <div class="login-form__inputs">
    <form [formGroup]="formGroup">
      <div class="login-form__input">
        <app-outlined-input formControlName="login" [type]="'text'" [placeholder]="'Логин'"></app-outlined-input>
      </div>
      <div class="login-form__input">
        <app-outlined-input formControlName="password" [type]="'password'" [placeholder]="'Пароль'"></app-outlined-input>
      </div>
    </form>
  </div>
  <div class="login-form__buttons">
    <button mat-stroked-button class="login-form__button" (click)="handleLoginButton()">ВОЙТИ</button>
    <button mat-button class="login-form__button" (click)="handleExitButton()">ОТМЕНА</button>
  </div>
</div>
