.login-form {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.login-form__title {
  font-size: 34px;
  line-height: 36px;
  font-weight: 400;
}

.login-form__input {
  width: 100%;
  height: 43px;
  margin-bottom: 23px;
}

.login-form__buttons {
  width: 100%;
  display: flex;
}

.login-form__button {
  color: rgba(31, 147, 122, 1);
  min-width: 93px;
  margin-right: 20px;
}
