<div class="dashboard">
  <app-patient-chart-statistic class="dashboard-widget"></app-patient-chart-statistic>
  <app-patient-bar-chart-statistic class="dashboard-widget"></app-patient-bar-chart-statistic>
  <app-patient-bar-chart-statistic class="dashboard-widget"></app-patient-bar-chart-statistic>
  <app-patient-bar-chart-statistic class="dashboard-widget"></app-patient-bar-chart-statistic>
  <app-patient-bar-chart-statistic class="dashboard-widget"></app-patient-bar-chart-statistic>
  <app-patient-chart-statistic class="dashboard-widget"></app-patient-chart-statistic>

</div>
