<div class="dashboard">
  <div class="widgets" @scale>
    <app-patient-chart-statistic [measurements]="measurement$ | async" class="dashboard-widget"></app-patient-chart-statistic>
    <app-patient-preview [patient]="patient$ | async" class="dashboard-widget"></app-patient-preview>
    <app-patient-current-health [measurements]="measurement$ | async" class="dashboard-widget"></app-patient-current-health>
    <app-mi-band-step-widget class="dashboard-widget"></app-mi-band-step-widget>
<!--    <app-patient-bar-chart-statistic class="dashboard-widget"></app-patient-bar-chart-statistic>-->
    <app-patient-bar-chart-statistic class="dashboard-widget"></app-patient-bar-chart-statistic>
    <app-patient-bar-chart-statistic class="dashboard-widget"></app-patient-bar-chart-statistic>
<!--        <app-prescription-widget class="dashboard-widget dashboard-widget_medium"></app-prescription-widget>-->
<!--    <app-patient-bar-chart-statistic class="dashboard-widget"></app-patient-bar-chart-statistic>-->
    <app-patient-bar-chart-statistic class="dashboard-widget"></app-patient-bar-chart-statistic>
<!--    <app-patient-chart-statistic class="dashboard-widget"></app-patient-chart-statistic>-->
  </div>

</div>
