.dashboard {
  padding: 80px 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &-widget {
    margin-right: 20px;
    margin-bottom: 20px;
    background: #ffffff;
    &-preview {
      width: 280px;
      height: 280px;
    }
  }
}

.widgets {
  width: 100%;
  height: 580px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
