@import "src/styles";

.prescription-widget {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__head {
    width: 100%;
    height: 80px;
    color: rgba(0, 0, 0, 0.6);
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    &-title {
      @include headline_6($on-light-surface)
    }
  }

  &__list {
    min-height: 0;
    flex: 1;
    overflow-y: auto;
  }

  &__controls {
    height: 60px;
  }

  &__item {
    &-edit {
      color: rgba(0, 0, 0, 0.6);
    }
  }
}
