<div class="patients-table">
  <div class="patients-table__row patients-table__header-row">
    <div class="patients-table__cell patients-table__header-cell">
      Имя
    </div>
    <div class="patients-table__cell patients-table__header-cell">
      Фамилия
    </div>
    <div class="patients-table__cell patients-table__header-cell">
      Возраст
    </div>
    <div class="patients-table__cell patients-table__header-cell">
      Телефон
    </div>
    <div class="patients-table__cell patients-table__header-cell patients-table__cell-options">
    </div>
  </div>
  <div class="patients-table__row" *ngFor="let patient of patients" (click)="handlePatientSelect(patient)">
    <div class="patients-table__cell">
      {{patient.firstName}}
    </div>
    <div class="patients-table__cell">
      {{patient.lastName}}
    </div>
    <div class="patients-table__cell">
      {{patient.age}}
    </div>
    <div class="patients-table__cell">
      {{patient.phoneNumber}}
    </div>
    <div class="patients-table__cell patients-table__cell-options">
      <button mat-button color="primary" (click)="$event.stopPropagation(); handlePatientAdd(patient.uid)"> Добавить </button>
    </div>
  </div>
</div>
