<div class="pressure-form" [formGroup]="formGroup">
  <mat-form-field class="form-item" appearance="outline">
    <mat-label>SYS</mat-label>
    <input formControlName="upperPoint" autocomplete="off" matInput>
  </mat-form-field>
  <mat-form-field class="form-item" appearance="outline">
    <mat-label>DIA</mat-label>
    <input formControlName="lowerPoint" autocomplete="off" matInput>
  </mat-form-field>
  <mat-form-field class="form-item" appearance="outline">
    <mat-label>Pulse</mat-label>
    <input formControlName="pulse" autocomplete="off" matInput>
  </mat-form-field>
  <mat-form-field class="form-item" appearance="outline">
    <mat-label>Деятельность</mat-label>
    <input formControlName="action" autocomplete="off" matInput [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
      <mat-option *ngFor="let action of filteredActions | async" [value]="action" >
        {{action}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button mat-stroked-button color="primary" style="margin-right: 20px" (click)="submit()">Отправить</button>

  <button mat-stroked-button color="primary" (click)="initBluetooth()">Подключить bluetooth тонометр</button>

</div>
