<div class="pressure-form">
  <mat-form-field class="form-item" appearance="outline">
    <mat-label>SYS</mat-label>
    <input autocomplete="off" matInput>
  </mat-form-field>
  <mat-form-field class="form-item" appearance="outline">
    <mat-label>DIA</mat-label>
    <input autocomplete="off" matInput>
  </mat-form-field>
  <mat-form-field class="form-item" appearance="outline">
    <mat-label>Pulse</mat-label>
    <input autocomplete="off" matInput>
  </mat-form-field>

  <button mat-stroked-button color="primary">Сохранить</button>
</div>
