<div class="list">
  <div class="treatment-card">
    <div class="img-wrapper"></div>
    <div class="info">
      <div>
        <h3 class="info-title">Lorem Ipsum</h3>
        <p class="info-description">Lorem Ipsum opus</p>
      </div>


      <div class="controls">
        <button mat-stroked-button color="primary">Купить</button>
      </div>
    </div>
  </div>
  <div class="treatment-card">
    <div class="img-wrapper"></div>
    <div class="info">
      <div>
        <h3 class="info-title">Lorem Ipsum</h3>
        <p class="info-description">Lorem Ipsum opus</p>
      </div>


      <div class="controls">
        <button mat-stroked-button color="primary">Купить</button>
      </div>
    </div>
  </div>
  <div class="treatment-card">
    <div class="img-wrapper"></div>
    <div class="info">
      <div>
        <h3 class="info-title">Lorem Ipsum</h3>
        <p class="info-description">Lorem Ipsum opus</p>
      </div>


      <div class="controls">
        <button mat-stroked-button color="primary">Купить</button>
      </div>
    </div>
  </div>
</div>
