$primary-palette: (
  50: #E0F2F1,
  100: #B2DFDB,
  200: #80CBC4,
  300: #4DB6AC,
  400: #26A69A,
  500: #009688,
  600: #00897B,
  700: #00796B,
  800: #00695C,
  900: #004D40,
  A100: #A7FFEB,
  A200: #64FFDA,
  A400: #1DE9B6,
  A700: #00BFA5,
  contrast: (
    50: transparentize(#FFFFFF, 0.87),
    100: transparentize(#FFFFFF, 0.87),
    200: transparentize(#FFFFFF, 0.87),
    300: transparentize(#FFFFFF, 0.87),
    400: transparentize(#FFFFFF, 0.87),
    500: transparentize(#000000, 0.87),
    600: transparentize(#000000, 0.87),
    700: transparentize(#000000, 0.87),
    800: transparentize(#000000, 0.87),
    900: transparentize(#000000, 0.87),
    A100: transparentize(#FFFFFF, 0.87),
    A200: transparentize(#FFFFFF, 0.87),
    A400: transparentize(#FFFFFF, 0.87),
    A700: transparentize(#000000, 0.87),
  ),
);

$accent-palette: (
  50: #C8FFF4,
  100: #70EFDE,
  200: #03DAC5,
  300: #00C4B4,
  400: #00B3A6,
  500: #01A299,
  600: #019592,
  700: #018786,
  800: #017374,
  900: #005457,
  A100: #89FFFD,
  A200: #56FFFD,
  A400: #23FFFC,
  A700: #00F3F8,
  contrast: (
    50: opacify(#000000, 0.87),
    100: opacify(#000000, 0.87),
    200: opacify(#000000, 0.87),
    300: opacify(#000000, 0.87),
    400: opacify(#000000, 0.87),
    500: opacify(#FFFFFF, 0.87),
    600: opacify(#FFFFFF, 0.87),
    700: opacify(#FFFFFF, 0.87),
    800: opacify(#FFFFFF, 0.87),
    900: opacify(#FFFFFF, 0.87),
    A100: opacify(#000000, 0.87),
    A200: opacify(#000000, 0.87),
    A400: opacify(#000000, 0.87),
    A700: opacify(#000000, 0.87),
  ),
);

$warn-palette: (
  50: #F9EDEF,
  100: #F1D1D7,
  200: #E7B3BC,
  300: #DD94A1,
  400: #D67D8D,
  500: #CF6679,
  600: #CA5E71,
  700: #C35366,
  800: #BD495C,
  900: #B23849,
  A100: #FFFDFD,
  A200: #FFCAD1,
  A400: #FF97A5,
  A700: #FF7E8F,
  contrast: (
    50: opacify(#000000, 0.87),
    100: opacify(#000000, 0.87),
    200: opacify(#000000, 0.87),
    300: opacify(#000000, 0.87),
    400: opacify(#000000, 0.87),
    500: opacify(#000000, 0.87),
    600: opacify(#000000, 0.87),
    700: opacify(#FFFFFF, 0.87),
    800: opacify(#FFFFFF, 0.87),
    900: opacify(#FFFFFF, 0.87),
    A100: opacify(#000000, 0.87),
    A200: opacify(#000000, 0.87),
    A400: opacify(#000000, 0.87),
    A700: opacify(#000000, 0.87),
  ),
);

$custom-primary: mat-palette($primary-palette, 200, 100, 700);
$custom-accent: mat-palette($accent-palette, 200, 100, 200);
$custom-warn: mat-palette($warn-palette);

$custom-theme: mat-dark-theme(
    $custom-primary,
    $custom-accent,
    $custom-warn
);
