<div class="sidebar" @first-width-appearance>

  <app-profile-preview
    *ngIf="profileAnimationTrigger$ | async"
    [profile]="{ name: (doctor$ | async)?.firstName + ' ' + (doctor$ | async)?.firstName, email: (doctor$ | async)?.department  }"
    class="sidebar-profile">
  </app-profile-preview>

  <hr class="sidebar-profile-hr">

  <div class="sidebar-menu" @first-appearance>

    <div class="sidebar-menu-navigation">
      <div class="sidebar-menu-item">
        <app-sidebar-item
          value="Все Пациенты"
          routerLink="patients"
          routerLinkActive>
        </app-sidebar-item>
      </div>

<!--      <div class="sidebar-menu-item">-->
<!--        <app-sidebar-item-->
<!--          value="Мои Пациенты"-->
<!--          routerLink="private-patients"-->
<!--          routerLinkActive>-->
<!--        </app-sidebar-item>-->
<!--      </div>-->

<!--      <div class="sidebar-menu-item">-->
<!--        <app-sidebar-item-->
<!--          value="Аналитика"-->
<!--          routerLink="patients/12"-->
<!--          routerLinkActive>-->
<!--        </app-sidebar-item>-->
<!--      </div>-->
    </div>

    <div class="sidebar-menu-settings">

      <div class="sidebar-menu-item sidebar-menu-item_settings">
        <app-sidebar-item
          (click)="handleLogout()"
          value="Выход"
          routerLink="/login-admin"
          routerLinkActive>
        </app-sidebar-item>
      </div>

    </div>

  </div>

</div>
