<div class="prescription-edit-dialog">
  <div class="prescriptions-edit-dialog__head">
    {{editMode ? 'Редактировать' : 'Добавить'}} лечение
  </div>
  <form [formGroup]="formGroup"
        class="prescription-edit-dialog__form">
    <mat-form-field>
      <mat-select formControlName="type">
        <mat-option [value]="0">
          Лечение
        </mat-option>
        <mat-option [value]="1">
          Рекомендация
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Заголовок</mat-label>
      <input formControlName="title" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Доп. информация</mat-label>
      <input formControlName="description" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Даты</mat-label>
      <mat-date-range-input [formGroup]="formGroup" [rangePicker]="picker">
        <input matStartDate formControlName="dateFrom" placeholder="Начало">
        <input matEndDate formControlName="dateTo" placeholder="Окончание">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

  </form>
  <div class="prescription-edit-dialog__controls">
    <button class="prescription-edit-dialog__button" (click)="sendMedicine()" mat-raised-button>
      Сохранить
    </button>
    <button *ngIf="editMode" class="prescription-edit-dialog__button" mat-raised-button>
      Удалить
    </button>
  </div>
</div>
