<div class="messages-wrapper">
  <div class="messages">
    <div *ngFor="let message of (messages | async)"
         class="messages__message"
         [ngStyle]="{'align-self': message.authorId !== authService.id ? 'flex-start' : 'flex-end'}">
      <app-message [message]="message" [id]="authService.id"></app-message>
    </div>
  </div>
  <div class="message__input_wrapper">
    <input type="text" class="message__input" placeholder="Сообщение">
    <div class="message__icon">
      <mat-icon class="example-tab-icon">send</mat-icon>
    </div>
  </div>
</div>
