@import "~@angular/material/theming";
@import "themes/default-theme.scss";

@include mat-core();

$primary: mat-color(map-get($custom-theme, primary), default);
$primary-variant: mat-color(map-get($custom-theme, primary), darker);
$secondary: mat-color(map-get($custom-theme, accent), default);
$error: mat-color(map-get($custom-theme, warn), default);

$on-light-surface: transparentize(#000, 0.13);
$on-light-surface-medium: transparentize(#000, 0.4);
$on-dark-surface: transparentize(#fff, 0.13);
$on-dark-surface-medium: transparentize(#fff, 0.4);

$border: transparentize(#000, 0.84);

@mixin font($font-color) {
  color: $font-color;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin headline_1($font-color) {
  @include font($font-color);

  font-weight: 300;
  font-size: 96px;
  line-height: 112px;
  letter-spacing: -1.5px;
}

@mixin headline_2($font-color) {
  @include font($font-color);

  font-weight: 300;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.5px;
}

@mixin headline_3($font-color) {
  @include font($font-color);

  font-size: 48px;
  line-height: 56px;
}

@mixin headline_4($font-color) {
  @include font($font-color);

  font-size: 34px;
  line-height: 36px;
}

@mixin headline_5($font-color) {
  @include font($font-color);

  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.18px;
}

@mixin headline_6($font-color) {
  @include font($font-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

@mixin subtitle_1($font-color) {
  @include font($font-color);

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

@mixin subtitle_2($font-color) {
  @include font($font-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

@mixin body_1($font-color) {
  @include font($font-color);

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

@mixin body_2($font-color) {
  @include font($font-color);

  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

@mixin button($font-color) {
  @include font($font-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

@mixin caption($font-color) {
  @include font($font-color);

  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}

@mixin overline($font-color) {
  @include font($font-color);

  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f5f5f5;

  @include body_1($on-light-surface);
  @include angular-material-theme($custom-theme);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
textarea,
select {
  font: inherit;
}

html,
body { height: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}
